@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+VN:wght@100..400&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

body {
  margin: 0;
  min-height: 100vh; /* garante que o fundo ocupe 100% da tela */
  font-family: "Red Hat Display", sans-serif;
  background: linear-gradient(to bottom, #ff0000, #000000);
  background-repeat: no-repeat; /* impede repetição */
  background-attachment: fixed; /* deixa o fundo fixo mesmo com scroll */
  background-size: cover; /* cobre toda a área visível */
  color: #fff;
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.mensagem {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.galeria {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.polaroid {
  background: white;
  padding: 10px 10px 30px 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  text-align: center;
  width: 220px;
  transform: rotate(-2deg);
  transition: transform 0.3s;
}

.polaroid:hover {
  transform: rotate(0deg) scale(1.03);
}

.polaroid img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 2px;
}

.polaroid p {
  margin-top: 10px;
  font-size: 0.95em;
  color: #070202;
  font-family: "Red Hat Display", sans-serif;
}

button {
  background-color: #ffffff;
  font-family: "Red Hat Display", sans-serif;
  color: #000000;
  border: none;
  padding: 12px 24px;
  font-size: 1em;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* sombra realista */
  transition: all 0.3s ease;
}

button:hover {
  background-color: #ffe6ee;
}

#surpresa {
  margin-top: 20px;
  font-size: 1.1em;
  color: #fff;
  transition: opacity 1s;
}
.coracao-pixelado {
  width: 100px;
  height: 90px;
  position: relative;
  margin: 40px auto;
  transform-style: preserve-3d;
  animation: girar 4s linear infinite;
}

.coracao-pixelado::before,
.coracao-pixelado::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 160px;
  background: #ff1a4b;
  border-radius: 100px 100px 0 0;
}

.coracao-pixelado::before {
  left: 100px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.coracao-pixelado::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

@keyframes girar {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

#surpresa {
  display: none;
  margin-top: 20px;
  font-size: 1.1em;
  color: #fff;
  transition: opacity 1s;
}
